.videoWrapper {
  margin-bottom: 40px;
}

.title {
  color: #74b1ae;
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 8px;
}

.description {
  color: #6e6e85;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
