.dashboard {
  background: linear-gradient(180deg, #e4f2f7 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  padding: 26px 20px;
}

.dashboardHeader {
  margin-bottom: 40px;
}

.greeting {
  color: #9292a1;
  font-size: 16px;
}

.question {
  font-size: 22px;
  font-weight: 600;
}

.tutorials > p {
  font-size: 16px;
  color: #9292a1;
  margin-bottom: 16px;
}
