.navContainer {
  width: 338px;
  height: 45px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.arrowLeft {
  width: 23px;
  height: 23px;
  margin-left: 11px;
  margin-top: 7.5px;
}
